@import "compass/css3";
@import "normalize";


$dark: #252C32;
$link: #0F6876;
$light: #7C878E;
$teal: #1ED8C9;

html, body {
 -webkit-font-smoothing: antialiased;
}

* {
	@include box-sizing(border-box);
}

@font-face {
  font-family: 'Proxima Nova Soft Md';
  src: url('../fonts/ProximaNovaSoft-Medium.woff2') format("woff2"), url('../fonts/ProximaNovaSoft-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova Soft Sb';
  src: url('../fonts/ProximaNovaSoft-Semibold.woff2') format("woff2"), url('../fonts/ProximaNovaSoft-Semibold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova Soft';
  src: url('../fonts/ProximaNovaSoft-Regular.woff2') format("woff2"), url('../fonts/ProximaNovaSoft-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Proxima Nova Soft';
}

strong, b {
	font-family: 'Proxima Nova Soft Sb';
}

img.banner {
	width: 338px;
	height: auto;
	@media (max-width: 750px) {
		width: 250px;
	}
	@media (max-width: 665px) {
		width: 180px;
		display: block;
	}
}
a {
	color: $link;
	&.light {
		color: $light;
	}
}

a.banner {
	@include transition(all .2s);
	width: 100%;
	display: block;
	background: $dark;
	font-family: 'Proxima Nova Soft Sb';
	color: #fff;
	padding: 7px 0;
	font-size: .9rem;
	text-decoration: none;
	&:hover {

		cursor: pointer;
		padding: 10px 0;
	}
}

div.restrict {
	padding: 0 60px;
    text-align: center;
	@media (max-width: 845px) {
		padding: 0px 25px;
	}
}

div.main {
	padding: 20px 0;
    &.landing {
        padding: 60px 0;

        @media (max-width: 845px) {
            padding: 40px 0;
        }
        @media (max-width: 665px) {
            padding: 25px 0;
            text-align: center;
        }
    }
}

img.banner, div.content {
	display: inline-block;
	vertical-align: middle;
}

div.content {
	padding-left: 50px;
    text-align: left;
	img.logo {
		height: 50px;
		width: auto;
		@media (max-width: 665px) {
			height: 40px;
		}
	}
	@media (max-width: 845px) {
		padding-left: 30px;
	}
	@media (max-width: 665px) {
		display: block;
		padding-left: 0;
		margin-top: 20px;
        text-align: center;
	}

    &.privacy {
        text-align: left;
        max-width: 100%;
        width: 640px;
    }

    &.center {
        text-align: center;
    }

	h1 {
		@media (max-width: 665px) {
			font-size: 1.8rem;
			margin: 10px 0 15px;
		}
	}
}
h1 {
	font-family: "Proxima Nova Soft";
	font-weight: normal;
	font-size: 2.2rem;
}


div.input-container {
	@include transition(all .2s);
	border: 2px solid $dark;
	border-radius: 4px;
	height: 44px;
	display: inline-block;
	vertical-align: top;

    &:hover {
        @include transform(scale(1.03));
    }

	&.disabled {
		opacity: .5;
	}

    &.active {
        border-color: $teal;

    }

	input[type=tel] {
		border: 0px;
		-webkit-appearance: none;
	  	-webkit-border-radius: 0;
		outline: none;
		height: 38px;
		background: transparent;
	}

	img.flag {
		height: 12px;
		width: auto;
		margin: 13px 5px 12px 10px;
		display: inline-block;
		vertical-align: top;
	}
}

a.submit {
	@include transition(all .2s);
	vertical-align: top;
	border-radius: 4px;
	height: 42px;
	display: inline-block;
	font-family: 'Proxima Nova Soft Sb';
	margin-left: 4px;
	background: $dark;
	color: #fff;
	cursor: pointer;
	padding: 10px 14px;
	&:hover {
		@include transform(scale(1.06));
        background: $teal;
	}
}

img.help {
	height: 14px;
}
img.c404 {
    width: 251px;
    height: auto;
}

div.help {
	font-size: .9rem;
	margin-top: 100px;
	@media (max-width: 665px) {
		margin-top: 40px;
	}
    a {
        @media (max-width: 665px) {
            display: block;
            margin-bottom: 6px;
        }
    }

	a.light {
		font-size: .8rem;
	}
	div.actions-grp {
		margin-bottom: 10px;
	}
    span.bull {
        @media (max-width: 665px) {
            display: none;
        }

    }
}

ol li, p {
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: $dark;
}

h5 {
  font-family: 'Proxima Nova Soft Md';
  font-weight: 500;
  font-size: .95rem;
  text-transform: uppercase;
  letter-spacing: .75px;
}


.privacy {
    h2 {
      font-family: 'Proxima Nova Soft Sb';
      font-weight: 600;
    }

    h3 {
      font-family: 'Proxima Nova Soft Sb';
      font-weight: 600;
      font-size: 1.15rem;
      margin: 2rem 0 0;
    }

    a {
          font-family: 'Proxima Nova Soft Md';
          font-weight: 500;

    }

    p, li {
        margin: .75rem 0;
        font-size: 1.05rem;
    }

    li {
        margin: .5rem;
    }

	a.btn {
		background: $dark;
		display: inline-block;
		text-decoration: none;
		padding: 10px 15px 12px;
		font-size: 1.1rem;
		color: #fff;
	  	font-family: 'Proxima Nova Soft Sb';
		font-weight: 600;
		border-radius: 6px;
		cursor: pointer;
		margin-bottom: 10px;
	}

    img {
        margin: 1rem 0 .5rem;
		&.right-float {
			float: right;
			margin-left: 1rem;
			margin-bottom: 1rem;
		}
    }
    .brooke {
        margin: 0 0 .5rem;
        max-width: 100%;
        height: auto;
    }
	.shipping-header {

		ul, h1 {
			display: inline-block;
			vertical-align: middle;
			@media (max-width: 675px) {
				width: 100%;
			}
		}

		ul {
			padding: 0;
			margin: 0;
			position: relative;
			margin-left: 25px;
			margin-top: 11px;
			@media (max-width: 675px) {
				margin: -5px 0 20px;
			}

			li {
				list-style: none;
				display: inline-block;
				margin: 0;
				margin-right: 15px;
			}
		}
	}
}

